* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#nav {
  height: 60px;
  width: 100%;
  background-color: rgba(0, 64, 255, 0.72);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav > h1 {
  font-size: 2vw;
}

#MainHead {
  height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#MainHead > h1 {
  font-size: 2vw;
}
#addEmployee {
  padding: 10px 12px;
  border: none;
  background-color: rgba(0, 64, 255, 0.72);
  color: white;
  border-radius: 10px;
}
#bodyList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}
#table {
  width: 100%;
}
#table,
tr,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.266);
  padding: 10px;
  border-collapse: collapse;
}
