* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #e9f4ff;
}
#card {
  height: 70%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  padding: 0px 20px;
}
#refresh {
  padding: 10px 20px;
  border: none;
  background-color: rgba(23, 23, 228, 0.68);
  border-radius: 5px;
  font-size: 1.3vw;
  text-transform: capitalize;
  cursor: pointer;

  font-weight: 600;
  color: white;
}
p {
  text-align: center;
}
.quote {
  color: #000000;
  font-size: 4vw;
}
.author {
  font-size: 2vw;
  color: #00005f;
}
